<include file="Public:header"/>
<include file="Public:menu"/>

<section class="Hui-article-box" id="content">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="{:U('Index/index')}" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">我的桌面</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">

        <article class="cl pd-20">
            <p class="f-20 text-success">欢迎使用 {$config.admin_name}管理系统 <span class="f-14">v1.0.0</span></p>
            <p>会员账号：{$Think.session.user.username} 会员ID：{$Think.session.user.userid}</p>
            <p>登录次数：{$Think.session.user.login_count} </p>
            <p>上次登录时间：{$Think.session.user.last_login_time}</p>
            <table class="table table-border table-bordered table-bg">
                <thead>
                    <tr>
                        <th colspan="6" scope="col">信息统计</th>
                    </tr>
                    <tr class="text-c">
                        <th>统计</th>
                        <th>申请总数</th>
                        <th>申请中</th>
                        <th>已同意</th>
                        <th>已拒绝</th>
                    </tr>
                </thead>
                <tbody id="tBody">
                    <tr class="text-c">
                        <td>总数</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr class="text-c">
                        <td>今日</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>

                    <tr class="text-c">
                        <td>本周</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr class="text-c">
                        <td>本月</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>

        </article>
        <footer class="footer">
            <p>
                感谢jQuery、layer、laypage、Validform、UEditor、My97

                DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br>
                Copyright &copy;2018 24/7 v1.0.0 All Rights Reserved.<br> 本后台系统由<a href="#" target="_blank" title="24/7">24/7</a>提供技术支持</p>

        </footer>

    </div>
</section>
<include file="Public:footer"/>
<script type="text/javascript">
    $(function () {
        $.ajax({
            "type": "get",
            "url": "{:U('Index/getInfo')}",
            "success": function (data) {
                if (data.status == 'S'){
                    var html = '';
                    for (var val of data.data) {
                        html += '<tr class="text-c">' +
                            '<td>'+(val.title=='title'?'总数':val.title)+'</td>' +
                            '<td>'+val.total+'</td>' +
                            '<td>'+val.status1+'</td>' +
                            '<td>'+val.status2+'</td>' +
                            '<td>'+val.status3+'</td>' +
                            '</tr>';
                    }
                    $("#tBody").html(html);
                }
            }
        });
    })
</script>
</body>


</html>