@charset "utf-8";
/* CSS Document */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
  overflow: auto;
}
body {
  font: 16px "微软雅黑";
}
body {
  background: url(../images/top_bg.jpg) center top no-repeat #15120e;
}
body .head {
  height: 20%;
}
body .head .logo {
  height: 90px;
  margin-top: 44px;
  padding: 0;
  background: url(../images/logo.png) no-repeat;
}
body .head .htitle {
  height: 100%;
  padding: 0;
  position: relative;
}
body .head .htitle .headimg {
  margin-top: 52px;
}
body .head .htitle .query {
  background: url(../images/query2.png) no-repeat;
  width: 272px;
  height: 36px;
  position: absolute;
  top: 105%;
  left: 14%;
}
.main {
  height: auto;
  padding-top: 50px;
  padding-bottom: 30px;
}
.main .left_box ul li {
  float: left;
  width: 126px;
  height: 96px;
  margin-right: 40px;
  margin-top: 15px;
}
.main .left_box ul li a {
  display: block;
  height: 96px;
}
.main .left_box ul li .z1 {
  background: url(../images/z1.png) no-repeat;
}
.main .left_box ul li .z1:hover {
  background: url(../images/z1_1.png) no-repeat;
}
.main .left_box ul li .z2 {
  background: url(../images/z2.png) no-repeat;
}
.main .left_box ul li .z2:hover {
  background: url(../images/z2_1.png) no-repeat;
}
.main .left_box ul li .z3 {
  background: url(../images/z3.png) no-repeat;
}
.main .left_box ul li .z3:hover {
  background: url(../images/z3_1.png) no-repeat;
}
.main .left_box ul li .z4 {
  background: url(../images/z4.png) no-repeat;
}
.main .left_box ul li .z4:hover {
  background: url(../images/z4_1.png) no-repeat;
}
.main .left_box ul li .z5 {
  background: url(../images/z5.png) no-repeat;
}
.main .left_box ul li .z5:hover {
  background: url(../images/z5_1.png) no-repeat;
}
.main .left_box ul li .z6 {
  background: url(../images/z6.png) no-repeat;
}
.main .left_box ul li .z6:hover {
  background: url(../images/z6_1.png) no-repeat;
}
.main .right_box {
  float: left;
  background-color: #1b1b1b;
  border: 1px #333333 solid;
  overflow: hidden;
}
.main .right_box .bigtit {
  display: block;
  text-align: center;
  font-family: 微软雅黑;
  height: 60px;
  font-size: 30px;
  color: #ffef18;
  margin-top: 30px;
  font-weight: bold;
}
.main .rfont {
  margin-bottom: 10px;
}
.main .rcenter {
  color: #fff;
  background-color: #252525;
  border: 1px solid #505050;
  height: auto;
}
.main .rcenter div {
  height: auto;
}
.main .rcenter h4 {
  font-weight: 600;
  color: #FFF7A7;
  height: 3.5rem;
  display: inline-block;
  width: 100px;
  text-align: center;
  padding-top: 10px;
  margin-top: 1.25rem;
  background-color: #505050;
  border-radius: 10px;
}
.main .rcenter hr {
  margin-top: -20px;
  border: 1px solid #505050;
}
.main .rcenter ul {
  height: auto;
  margin-bottom: 3.125rem;
}
.main .rcenter ul li {
  padding: 3px 0;
  margin: 10px 0 0  50px;
}
.main span {
  color: red;
  font-weight: 600;
}
.main .rtable {
  background-color: #000;
  text-align: center;
}
.main .rtable th {
  text-align: center;
}
.main .rtable tr {
  background-color: #505050 !important;
}
.main .rtable tr td:nth-child(5) {
  border: none;
}
.main .rrule li {
  font-size: 1.5rem;
}
.main .box_2 {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 0px;
  padding-bottom: 30px;
  overflow: hidden;
}
.main .box_2 .in_box {
  width: 100%;
  height: auto;
  margin-top: 0px;
}
.main .box_2 .in_box li {
  width: 100%;
  height: 30px;
  border: none;
  background: none;
  margin-top: 5px;
}
.main .box_2 .in_box li .in1 {
  width: 228px;
  height: 24px;
  border: 0px;
  float: left;
  margin-left: 10px;
  color: #000;
  line-height: 24px;
  margin-top: 3px;
}
.main .box_2 .in_box li p {
  display: block;
  width: 150px;
  height: 30px;
  float: left;
  text-align: right;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
.main .box_2 .in_box li .tit {
  font-size: 1.775rem !important ;
  color: #FFEF18;
  font-weight: 600;
  width: 228px;
}
.main .box_2 .but {
  display: block;
  width: 147px;
  height: 37px;
  background: url(../images/but4.png) no-repeat;
  margin-top: 20px;
  float: left;
}
footer .copyright {
  color: #727061;
  text-align: center;
  font-size: 14px;
  line-height: 90px;
}
