@charset "utf-8";
/* CSS Document */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
  overflow: auto;
}
body {
  font: 16px "微软雅黑";
}

body {
  background: url(../images/top_bg.jpg) center top no-repeat rgb(21, 18, 14);
  .head {
    height: 20%;
    .logo {
      height: 90px;
      margin-top: 44px;
      padding: 0;
      background: url(../images/logo.png) no-repeat;
    }
    .htitle {
      height: 100%;
      padding: 0;
      position: relative;
      .headimg {
        margin-top: 52px;
      }
      .query {
        background: url(../images/query2.png) no-repeat;
        width: 272px;
        height: 36px;
        position: absolute;
        top: 105%;
        left: 14%;
      }
    }
  }
}
.main {
  height: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  //   内容左边
  .left_box {
    ul li {
      float: left;
      width: 126px;
      height: 96px;
      margin-right: 40px;
      margin-top: 15px;
      a {
        display: block;
        height: 96px;
      }
      .z1 {
        background: url(../images/z1.png) no-repeat;
      }
      .z1:hover {
        background: url(../images/z1_1.png) no-repeat;
      }
      .z2 {
        background: url(../images/z2.png) no-repeat;
      }
      .z2:hover {
        background: url(../images/z2_1.png) no-repeat;
      }
      .z3 {
        background: url(../images/z3.png) no-repeat;
      }
      .z3:hover {
        background: url(../images/z3_1.png) no-repeat;
      }
      .z4 {
        background: url(../images/z4.png) no-repeat;
      }
      .z4:hover {
        background: url(../images/z4_1.png) no-repeat;
      }
      .z5 {
        background: url(../images/z5.png) no-repeat;
      }
      .z5:hover {
        background: url(../images/z5_1.png) no-repeat;
      }
      .z6 {
        background: url(../images/z6.png) no-repeat;
      }
      .z6:hover {
        background: url(../images/z6_1.png) no-repeat;
      }
    }
  }
  //内容右边
  .right_box {
    float: left;
    background-color: #1b1b1b;
    border: 1px #333333 solid;
    overflow: hidden;
    .bigtit{
      display: block;
      text-align: center;
      font-family: 微软雅黑;
    
      height: 60px;
      font-size: 30px;
      color: rgb(255, 239, 24);
      margin-top: 30px;
      font-weight: bold;
    }
  }
  .rfont{
    margin-bottom: 10px;
  }
  .rcenter{
    color: #fff;
    background-color: #252525;
    border:1px solid #505050;
    height: auto;
    div{
      height: auto;
    }
    h4{
      font-weight: 600;
      color: #FFF7A7;
      height: 3.5rem;
      display: inline-block;
      width: 100px;
      text-align: center;
      padding-top: 10px;
      margin-top: 1.25rem;
      background-color: #505050;
      border-radius: 10px;
    }
   hr{
    margin-top: -20px;
    border: 1px solid #505050
   }
    ul{
      height: auto;
      margin-bottom: 3.125rem;
      li{
        padding: 3px 0;
        margin:10px 0 0  50px;
      }
    }
  }
  span{
    color:red;
    font-weight: 600;
  }
  .rtable{
    background-color: #000;
    text-align: center;
 
    th{
      text-align: center;
    }
    tr{
      background-color: #505050 !important;
      td:nth-child(5){
        border: none;
      }
    }
  }
  .rrule{
    li{
      font-size: 1.5rem;
    }
  }

  .box_2 {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
    overflow: hidden;
    .in_box {
      width: 100%;
      height: auto;
      margin-top: 0px;
      li{
        width: 100%;
    height: 30px;
    border: none;
    background: none;
    margin-top: 5px;
    .in1{
      width: 228px;
      height: 24px;
      border: 0px;
      float: left;
      margin-left: 10px;
      color: #000;
      line-height: 24px;
      margin-top: 3px;
     
    }
    
    p{
      display: block;
    width: 150px;
    height: 30px;
    float: left;
    text-align: right;
    font-size: 18px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    }
    .tit{
      font-size: 1.775rem !important ;
      color:#FFEF18;
      font-weight: 600;
      width: 228px;
    }
      }
  }
  .but{
    display: block;
    width: 147px;
    height: 37px;
    background: url(../images/but4.png) no-repeat;
    margin-top: 20px;
    float: left;
  }

}
 
    
   
}

footer .copyright {
  color: #727061;
  text-align: center;
  font-size: 14px;
  line-height: 90px;
}
