<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-memeber">
            <dt <if condition="CONTROLLER_NAME eq 'Department' OR CONTROLLER_NAME eq 'Apply'">class="selected"</if>><i class="Hui-iconfont Hui-iconfont-news"></i> 会议管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd <if condition="CONTROLLER_NAME eq 'Department' OR CONTROLLER_NAME eq 'Apply'">style="display: block;"</if>>
                <ul>
                    <!--<li><a href="{:U('Department/index')}" title="部门列表">部门列表</a></li>-->
                    <li><a href="{:U('Apply/index')}" title="申请列表">申请列表</a></li>
                </ul>
            </dd>
        </dl>


        <dl id="menu-admin">
            <dt <if condition="CONTROLLER_NAME eq 'User'">class="selected"</if>><i class="Hui-iconfont">&#xe62d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd <if condition="CONTROLLER_NAME eq 'User'">style="display: block;"</if>>
                <ul>
                    <li><a href="{:U('User/userIndex')}" title="用户列表">用户列表</a></li>
                </ul>
            </dd>
        </dl>


        <dl id="menu-System">
            <dt <if condition="CONTROLLER_NAME eq 'User'">class="selected"</if>><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd <if condition="CONTROLLER_NAME eq 'System'">style="display: block;"</if>>
                <ul>
                    <li><a href="{:U('System/siteIndex')}" title="站点设置">站点设置</a></li>
                </ul>
            </dd>
        </dl>


    </div>
</aside>

