<include file="Public:header"/>
<include file="Public:menu"/>
<section class="Hui-article-box" id="content">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i><a href="{:U('Index/index')}" class="maincolor">首页</a> 
		<span class="c-gray en">&gt;</span>
		会议管理
		<span class="c-gray en">&gt;</span>
		部门列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div>
				<label for="row">每页条数:</label>
				<select class="input-text" style="width:120px;" id="selrow" onchange="query()">
					<option value="15">15</option>
					<option value="30" selected="selected">30</option>
					<option value="50">50</option>
				</select>
				<label for="name">部门名称:</label>
				<input type="text" class="input-text" style="width:110px" placeholder="" id="name" name="name">
				<span>
					 <a href="javascript:;" onclick="query()" class="btn btn-secondary radius" style="margin-bottom:3px">查询</a>
					 <a href="javascript:;" onclick="add()" class="btn btn-secondary radius" style="margin-bottom:3px">添加</a>
					 <a href="javascript:;" onclick="batchDel()" class="btn btn-danger radius" style="margin-bottom:3px">批量删除</a>
              	</span>
			</div>
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="10">会员列表</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="userId" value=""></th>
						<th width="60">ID</th>
						<th width="150">部门名称</th>
						<th width="150">排序</th>
						<th width="150">添加人员</th>
						<th width="150">添加时间</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody id="contents">				
				</tbody>
			</table>			
			<div  style="margin-top:15px">
			   <div id="tips" class="l">
			   <span class="r">共有<strong><span id='page'></span></strong>页,<strong><span id='row'></span></strong> 条数据</span>
			   </div>
			   <div id="act" class="r"></div>
			</div>
		</article>
	</div>
</section>

<include file="Public:footer"/>
<script type="text/javascript">
$(function(){	
	menulists(1);
})

function query(){
    menulists(1);
}

function menulists(curr,username) {
    var row = $("#selrow").val();
    var name = $.trim($("#name").val());
	var url = "{:U('Department/pageList')}";
	$.ajax({
		"type": "post",
		"url": url,
		"data": {
		    'row':row,
			'currPage': curr,
			'name':name
		},
		"success": function(data) {
			if(data.status == 'F') {
				layer.msg('获取用户信息失败,请联系系统管理员进行处理', {
					icon: 5,
					time: 1500
				});
				return;
			}
			organizedHtml(data);
			laypage({
				cont: 'act', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
				pages: data.totalPages, //通过后台拿到的总页数
				skip: true, //是否开启跳页
				skin: '#dadada',
				curr: curr || 1, //当前页
				jump: function(obj, first) { //触发分页后的回调
					if(!first) {
						menulists(obj.curr,username);
					}
				}
			});
		},
		"error": function(data) {

		}
	});
}

function organizedHtml(responseData){
	var data = responseData.data;
	var str = "";
	for(var i = 0; i<data.length;i++){
		str+=
		'<tr class="text-c">'+
		'<td><input type="checkbox" value="'+data[i].id+'" name="userId"></td>'+
		'<td>'+(i+1)+'</td>'+
		'<td>'+data[i].name+'</td>'+
		'<td>'+data[i].sorting+'</td>'+
		'<td>'+data[i].operator+'</td>'+
		'<td>'+data[i].crdate+'</td>'+
		'<td class="td-manage">'+
		'<a title="编辑" href="javascript:;" onclick="add(\''+data[i].id+'\')" class="ml-5 btn radius" style="text-decoration:none">修改</a>'+
		'<a title="删除" href="javascript:;" onclick="del(\''+data[i].id+'\')" class="ml-5 btn radius" style="text-decoration:none">删除</a></td>'+
	    '</tr>';
	}	
	$("#contents").html(str);
	$("#row").html(responseData.totalCount);	
	$("#page").html(responseData.totalPages);
}

function add(id=''){
    var url = "{:U('Department/add')}"+'?id='+id;
    layer_show(id!=''?'编辑部门':'添加部门',url,"600","280");
}

function batchDel(){
    var ids = [];
    $('input[name="userId"]:checked').each(function() {
        ids.push($(this).val());
    });
    var idStr = ids.toString();
    if(ids.toString()==""){
        layer.msg('请选择需要删除的纪录',{icon:5,time:1500});
        return;
    }
    del(idStr);
}

function del(id){
    $.ajax({
        "type":"post",
        "url":"{:U('Department/del')}",
        "data":{"id":id},
        "success":function(data){
            if(data.status=='S'){
                layer.msg('删除成功', {
                    icon: 6,
                    time: 1000
                },function(){
                    query();
                });

            }
        },
        "error":function(data){
            layer.msg('删除失败,请联系系统管理员进行处理', {
                icon: 5,
                time: 1500
            });
        }
    });
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>