<include file="Public:header"/>
<include file="Public:menu"/>
<section class="Hui-article-box" id="content">
    <style type="text/css">
        .upload {
            padding: 4px 10px;
            height: 20px;
            line-height: 20px;
            border: 1px solid #DCDCDC;
            text-decoration: none;
            color: #555555;
        }

        .change {
            position: absolute;
            overflow: hidden;
            right: 0;
            top: 0;
            opacity: 0;
        }

        .form-horizontal .form-label {
            text-align: RIGHT;
        }
    </style>

    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i><a href="{:U('Index/index')}" class="maincolor">首页</a>
        <span class="c-gray en">&gt;</span>
        系统管理
        <span class="c-gray en">&gt;</span>
        站点设置 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">

        <article class="cl pd-20">
            <form class="form form-horizontal" id="form-admin-add" enctype="multipart/form-data" method="post" onsubmit="updateSite(); return false;">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>网站名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" name="site_name" value="{$config.site_name}" style="width:60%;">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理系统：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" name="admin_name" value="{$config.admin_name}" style="width:60%;">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>会议场地：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" name="meet_place" value="{$config.meet_place}" style="width:60%;">
                        <span style="color: #999;">多个请用“|”分割</span>
                    </div>
                </div>
                <!--<div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>logo地址：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" id="address" name="" value="{$config.logo}" style="display:inline-block;width:60%" readonly="readonly">
                        <a href="javascript:; " class="upload radius" style="position: relative; ">上传
                            <input type="file" class="change" id="logo" onchange="assignValue()" name="logo">
                        </a>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>注册地址：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="register" name="register" value="{$config.register}" style="width:60%;">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>客服地址：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" autocomplete="off" id="custom" name="custom" value="{$config.custom}" style="width:60%;">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>活动规则：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <div style="width: 60%">
                            <script id="editor" type="text/plain" name="content" style="height:440px"></script>
                        </div>
                    </div>
                </div>-->
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input id="upload" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" style="margin-left:45px">
                    </div>
                </div>
            </form>
        </article>
    </div>
</section>

<include file="Public:footer"/>
<script type="text/javascript" src="__PUBLIC__/Admin/hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/hui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/hui/lib/ueditor/1.4.3/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    var ue;
    var content = '{$config.content}';
    $(function () {
        ue =  UE.getEditor('editor');
        ue.ready(function(){
            ue.setContent(content);
        });
    });

    function assignValue() {
        $("#address").val($("#logo").val());
    }

    function updateSite() {
        var formData = new FormData($( "#form-admin-add" )[0]);
        $.ajax({
            "type": "post",
            "url": "{:U('system/updateSite')}",
            'data': formData,
            'processData': false,
            'contentType': false,
            "success": function (data) {
                if (data.status == 'S') {
                    layer.msg('修改成功', {icon: 6, time: 1000});
                    setTimeout(function(){window.location.reload()}, 600);
                    return;
                }
                layer.msg(data.msg, {icon: 5, time: 1000});
            },
            "error": function (data) {
                layer.msg('修改失败' + data.msg, {icon: 5, time: 1000});
            }
        });
    }
</script>

</body>
</html>