<include file="Public:header"/>
<include file="Public:menu"/>
<section class="Hui-article-box" id="content">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i><a href="{:U('Index/index')}" class="maincolor">首页</a> 
		<span class="c-gray en">&gt;</span>
		会议管理
		<span class="c-gray en">&gt;</span>
		申请列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div>
				<form id="search" onsubmit="query(); return false;">
				<label>每页条数:</label>
				<select class="input-text" style="width:100px;" name="row" onchange="query()">
					<option value="15" selected="selected">15</option>
					<option value="30">30</option>
					<option value="50">50</option>
				</select>
				<label>会议场地:</label>
				<select class="input-text" style="width:100px;" name="place">
					<option value="">全部</option>
					<volist name="place_list" id="vo">
						<option value="{$vo}">{$vo}</option>
					</volist>
				</select>
				<label>申请部门:</label>
				<input type="text" class="input-text" style="width:110px" placeholder="" id="department" name="department">
				<label for="applyer">申请人:</label>
				<input type="text" class="input-text" style="width:110px" placeholder="" id="applyer" name="applyer">
				<label>状态:</label>
				<select class="input-text" style="width:100px;" name="status">
					<option value="">全部</option>
					<option value="1">申请中</option>
					<option value="2">已同意</option>
					<option value="3">已拒绝</option>
					<!--<option value="4">已取消</option>-->
				</select>
				<span>
					 <a href="javascript:;" onclick="query()" class="btn btn-secondary radius" style="margin-bottom:3px">查询</a>
					 <a href="javascript:;" onclick="batchDel()" class="btn btn-danger radius" style="margin-bottom:3px">批量删除</a>
              	</span>
				</form>
			</div>
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="99">申请列表</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="userId" value=""></th>
						<th width="150">申请时间</th>
						<th width="100">申请人</th>
						<th width="100">申请部门</th>
						<th width="100">会议场地</th>
						<th width="100">人数</th>
						<th width="200">用途</th>
						<th width="150">使用时间</th>
						<th width="100">状态</th>
						<th width="100">审核人</th>
						<th width="150">审核时间</th>
						<th width="200">备注</th>
						<th width="150">操作</th>
					</tr>
				</thead>
				<tbody id="contents">				
				</tbody>
			</table>			
			<div  style="margin-top:15px">
			   <div id="tips" class="l">
			   <span class="r">共有<strong><span id='page'></span></strong>页,<strong><span id='row'></span></strong> 条数据</span>
			   </div>
			   <div id="act" class="r"></div>
			</div>
		</article>
	</div>
</section>

<include file="Public:footer"/>
<script type="text/javascript">
$(function(){	
	menulists(1);
})

function query(){
    menulists(1);
}

function menulists(curr) {
	var url = "{:U('Apply/pageList')}";
	$.ajax({
		"type": "post",
		"url": url,
		"data": $("#search").serialize(),
		"success": function(data) {
			if(data.status == 'F') {
				layer.msg('获取用户信息失败,请联系系统管理员进行处理', {
					icon: 5,
					time: 1500
				});
				return;
			}
			organizedHtml(data);
			laypage({
				cont: 'act', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
				pages: data.totalPages, //通过后台拿到的总页数
				skip: true, //是否开启跳页
				skin: '#dadada',
				curr: curr || 1, //当前页
				jump: function(obj, first) { //触发分页后的回调
					if(!first) {
						menulists(obj.curr,username);
					}
				}
			});
		},
		"error": function(data) {

		}
	});
}

function organizedHtml(responseData){
	var data = responseData.data;
	var str = "";
	for(var i = 0; i<data.length;i++){
        var cssStr = '';
        if (data[i].status != 1){
            cssStr = 'disabled';
		}
        var status = '<td class="td-status"><span class="label label-danger radius">申请中</span></td>';
        if (data[i].status == 2) {
            status = '<td class="td-status"><span class="label label-success radius">已同意</span></td>';
		} else if(data[i].status == 3) {
            status = '<td class="td-status"><span class="label label-warning radius">已拒绝</span></td>';
		}
		str+=
		'<tr class="text-c">'+
		'<td><input type="checkbox" value="'+data[i].id+'" name="userId"></td>'+
		'<td>'+data[i].crdate+'</td>'+
		'<td>'+data[i].applyer+'</td>'+
		'<td>'+data[i].department+'</td>'+
		'<td>'+data[i].place+'</td>'+
		'<td>'+data[i].num+'</td>'+
		'<td>'+data[i].description+'</td>'+
		'<td>'+data[i].use_time.substring(0,16)+'</td>'+
            status+
		'<td>'+data[i].operator+'</td>'+
        '<td>'+(data[i].tstamp==null?'':data[i].tstamp)+'</td>'+
		'<td>'+data[i].remark+'</td>'+
		'<td class="td-manage">'+
		'<a title="同意" href="javascript:;" onClick="changeStatus(' + data[i].id + ',2)" class="ml-5 btn radius  ' + cssStr + '" style="text-decoration:none">同意</a>'+
		'<a title="拒绝" href="javascript:;" onClick="changeStatus(' + data[i].id + ',3)" class="ml-5 btn radius  ' + cssStr + '" style="text-decoration:none">拒绝</a>'+
		'<a title="删除" href="javascript:;" onclick="del(\''+data[i].id+'\')" class="ml-5 btn radius" style="text-decoration:none">删除</a></td>'+
	    '</tr>';
	}
	$("#contents").html(str);
	$("#row").html(responseData.totalCount);
	$("#page").html(responseData.totalPages);
}

function add(id=''){
    var url = "{:U('Department/add')}"+'?id='+id;
    layer_show(id!=''?'编辑部门':'添加部门',url,"600","280");
}

function batchDel(){
    var ids = [];
    $('input[name="userId"]:checked').each(function() {
        ids.push($(this).val());
    });
    var idStr = ids.toString();
    if(ids.toString()==""){
        layer.msg('请选择需要删除的纪录',{icon:5,time:1500});
        return;
    }
    del(idStr);
}

function del(id){
    $.ajax({
        "type":"post",
        "url":"{:U('Apply/del')}",
        "data":{"id":id},
        "success":function(data){
            if(data.status=='S'){
                layer.msg('删除成功', {
                    icon: 6,
                    time: 1000
                },function(){
                    query();
                });

            }
        },
        "error":function(data){
            layer.msg('删除失败,请联系系统管理员进行处理', {
                icon: 5,
                time: 1500
            });
        }
    });
}

function changeStatus(id, status) {
    if (status == 3) {
        layer.prompt({
            title: '请输入拒绝原因，并确定',
            formType: 2
        }, function (text, index) {
            if (text == "") {
                return;
            }
            layer.close(index);
            updateStatus(id, status, text);
        });
        return;
    }
    updateStatus(id, status, '---');
}

function updateStatus(id, status, remark) {
    $.ajax({
        'type': 'post',
        'url': "{:U('Apply/updateStatus')}",
        'data': {'id': id, 'status': status, 'remark': remark},
        'success': function (data) {
            menulists(1);
            layer.msg('更改成功', {icon: 6, time: 1000});
        },
        'error': function (data) {
            layer.msg('更改失败,请联系管理员', {icon: 5, time: 1500});
        }
    });
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>