*{
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    /*grid-gap: 5px;*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 50px;
    grid-template-areas:
            "h h h h"
            "c c c c"
            "f f f f";
}
.header {
    grid-area: h;
    background-color: #e0e0e0;
}
.header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}
.content {
    grid-area: c;
    background-color: deepskyblue;
}
.content ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}
/*.footer {*/
/*grid-area: f;*/
/*background-color: #000;*/
/*position:absolute;*/
/*bottom:0;*/
/*width:100%;*/
/*height:50px*/
/*}*/