<include file="Public:header"/>
<include file="Public:menu"/>
<section class="Hui-article-box" id="content">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i><a href="{:U('Index/index')}" class="maincolor">首页</a> 
		<span class="c-gray en">&gt;</span>
		管理员管理
		<span class="c-gray en">&gt;</span>
		管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="Hui-article">	
		<article class="cl pd-20">			
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
				<input type="text" class="input-text" style="width:110px" placeholder="输入会员" id="user" name="">
				<button type="button" onclick='queryUser()' class="btn btn-secondary radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>				 
				<a href="javascript:;" onclick="userAdd('添加管理员','userAdd.html','600','350')" class="btn btn-secondary radius">添加用户</a>
				<a href="javascript:;" onclick="batchDel()" class="btn btn-danger radius">批量删除</a></span>
			</div>
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="9">员工列表</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="userId" value=""></th>
						<th width="40">ID</th>
						<th width="150">用户名</th>
						<th width="150">用户Id</th>
						<th width="150">添加人员</th>
						<th width="130">添加时间</th>
						<th width="100">是否已启用</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody id="contents">				
				</tbody>
			</table>			
			<div  style="margin-top:15px">
			   <div id="tips" class="l">
			   <span class="r">共有<strong><span id='page'></span></strong>页,<strong><span id='row'></span></strong> 条数据</span>
			   </div>
			   <div id="act" class="r"></div>
			</div>
		</article>
	</div>
</section>

<include file="Public:footer"/>
<script type="text/javascript">
var username;
var userId;
$(function(){	
	menulists(1,"");	
})

function menulists(curr,username) {
	var url = "{:U('User/getUserList')}";
	$.ajax({
		"type": "post",
		"url": url,
		"data": {
			'currPage': curr,
			'username':username
		},
		"success": function(data) {
			if(data.status == 'F') {
				layer.msg('获取用户信息失败,请联系系统管理员进行处理', {
					icon: 5,
					time: 1500
				});
				return;
			}
			organizedHtml(data);
			laypage({
				cont: 'act', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
				pages: data.totalPages, //通过后台拿到的总页数
				skip: true, //是否开启跳页
				skin: '#dadada',
				curr: curr || 1, //当前页
				jump: function(obj, first) { //触发分页后的回调
					if(!first) {
						menulists(obj.curr,username);
					}
				}
			});
		},
		"error": function(data) {

		}
	});
};

function batchDel(){
	var ids = getIds();
	if(ids.toString()==""){
		layer.msg('请选择需要删除的用户',{icon:5,time:1500});
		return;
	}
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			'type':'post',
			'url':"{:U('User/userDel')}",
			'data':{id:ids},
			'success':function(data){
				menulists(1);	
				layer.msg('删除成功',{icon:6,time:1500});
			},
			'error':function(data){
				layer.msg('删除失败',{icon:5,time:1500});
			}
		});
	});
}

function getIds(){
	var ids = [];
	$('input[name="userId"]:checked').each(function() {
		ids.push($(this).val());
	});
	return ids.toString();
}

function queryUser(){
	var username = $("#user").val();
	menulists(1,username);
}


function organizedHtml(responseData){
	var data = responseData.data;
	var str = "";
	for(var i = 0; i<data.length;i++){
		var status = '<td class="td-status"><span class="label radius">已停用</span></td>';
		var actionStr = '启用';
		if(data[i].user_status==1){
			status = '<td class="td-status"><span class="label label-success radius">已启用</span></td>';
			actionStr = '停用';
			}
		str+=
		'<tr class="text-c">'+
		'<td><input type="checkbox" value="'+data[i].id+'" name="userId"></td>'+
		'<td>'+(i+1)+'</td>'+
		'<td>'+data[i].username+'</td>'+
		'<td>'+data[i].userid+'</td>'+
		'<td>'+data[i].add_user+'</td>'+
		'<td>'+data[i].add_time+'</td>'+
		status+
		'<td class="td-manage">'+
		'<a style="text-decoration:none" onClick="changeStatus('+data[i].id+',\''+data[i].user_status+'\')" href="javascript:;" class="ml-5 btn radius" title="停用">'+actionStr+'</a>'+
		'<a title="编辑" href="javascript:;" onclick="userEdit(\''+data[i].userid+'\',\''+data[i].username+'\')" class="ml-5 btn radius" style="text-decoration:none">修改密码</a>'+
		'<a title="删除" href="javascript:;" onclick="admin_del(this,'+data[i].id+')" class="ml-5 btn radius" style="text-decoration:none">删除</a></td>'+

	    '</tr>';
	}	
	$("#contents").html(str);
	$("#row").html(responseData.totalCount);	
	$("#page").html(responseData.totalPages);
}

function changeStatus(id,status){
	var tips = '确认要停用此用户吗？';
	if(status==0){
		tips = '确认要启用该用户吗？'
	}
	layer.confirm(tips,function(){
		$.ajax({
			'type':'post',
			'url':"{:U('User/updateStatus')}",
			'data':{'id':id,'status':status},
			'success':function(data){
				menulists(1);
				layer.msg('更改成功',{icon:6,time:1000});
			},
			'error':function(data){
				layer.msg('更改失败,请联系管理员',{icon:5,time:1500});
			}				
		});
	})
}




function userAdd(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-删除*/
function admin_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.ajax({
			'type':'post',
			'url':"{:U('User/userDel')}",
			'data':{'id':id},
			'success':function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			'error':function(data){
				layer.msg('删除失败!',{icon:1,time:1000});
			}
		});
		
	});
}
/*管理员-编辑*/
function userEdit(Id,name){
	username = name;
	userId = Id;
	layer_show('修改管理员信息','userUpdate.html','650','410');
}

</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>